*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container{
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    filter: drop-shadow(10px 5px 5px black)
}

.nombres{
    display: flex;
    flex-direction: row;
}

.cardHead{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
}

.imgHtml{
    width: 30px;
    margin-right: 5px;
}

.menu{
    font-size: 25px;
}

.imgPrincipal{
    width: 100%;
}

.sectionIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
}

.icon{
    font-size: 20px;
    padding-left: 3px;
}

.containerText{
    margin: 10px;
}

.textLiked{
    padding-bottom: 20px;
    font-size: 16px;
}

.text{
    font-size: 15px;
    padding-bottom: 20px;
}